@media screen and (max-width: 1048px) {
  .navbar__logo {
  padding: 20px 30px ;
}
  .navbar__ul li a {display: none;}
  .navbar__ul a.main-navbar__icon {
    float: right;
    display: block;
    font-size: 28px !important;
  }

}


@media screen and (max-width: 1048px) {



  .navbar__ul.responsive {position: relative;}
  .navbar__ul.responsive .main-navbar__icon {
    position: block;
    right: 0;
    top: 0;

  }
  .navbar__ul {
    left: 100%;
    margin-right: 10%;
    z-index: 1000;
  }
  .navbar__ul.responsive {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 55px;
    text-align: center;
    transition: .5s;
    left: 0;
    padding-left: 0px;
    z-index: 1500;
  }
  .navbar__ul.responsive li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navbar__ul.responsive li a {
    float: none;
    display: block;
    font-size: 20px;
    text-align: center;
    padding:0;
  }

  .main__whatwedo .container {
  padding-left: 60px;
}
}

@media screen and (max-width: 1130px) {
  
#main-whatwedo__background {
  background-image: url(../assets/ai/Homepage.jpg);
}
}

/** main page **/
@media screen and (max-width: 1400px) {

  
.section-heading__whatwedo h1 {
  margin:0 !important;
  font-size: 4.5em;
}

.section-heading__whatwedo h3 {
  font-size: 1.35em;
}

.section-heading__whatwedo p {
  font-weight: normal;
  margin: 3rem 0!important;
}

.section-heading__whatwebelieve h3 {
  margin-top: 2rem;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__whatwebelieve p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 0 !important;
}

.section-heading__ourwork h3 {
  margin-top: 2rem;
  color: #881C67;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__ourwork h1 {
  font-size: 4.5em;
}

.section-heading__ourwork h2 {
  font-size: 3rem;
  color: #666666;
  margin: 3rem 0!important;
}

.section-heading__ourservice h1 {
  font-size: 3rem;
}

.section-heading__ourservice h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__ourservice p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 0 !important;
}

.section-heading__howwework h1 {
  font-size: 3rem;
}

.section-heading__howwework h3 {
  margin-top: 6rem;
  font-size: 28px;

}

.section-heading__howwework p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 0 !important;
}

.section-heading__ourcapabilities h1 {
  font-size: 3rem;
  color: #666666;
}

.section-heading__ourcapabilities h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__ourcapabilities p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 0!important;
}

.section-heading__workwithus p {
  font-size: 1.4rem;
  margin: 5rem 5rem;
}

.workwithus__topform,
.workwithus__middleform  {
  margin: 0px 25px;
}

.section-heading__getintouch p {
    font-size: 1.4rem;
    margin: 3rem 3rem;
}

.section-heading__ourteam h1 {
  font-size: 3rem;
  margin: 0;
}

.section-heading__ourteam h3 {
  font-size: 28px;
}

.section-heading__ourteam p {
  font-size: 1.4rem;
  margin: 3rem 0;
}
}

/** Main Responsive text */

@media only screen and (max-width: 954px) {

.main__whatwedo {
  margin: 0!important;
}


.footer .footer-content .footer__logo img {
    /*width: 20%;*/
}

}

@media only screen and (max-width: 850px) {

.section-heading__whatwedo h1 {
  font-size: 4.5em;
  margin:0 !important;
}

.box__container {
  display: block;
}

/*.section-heading__whatwedo h3 {
  font-size: 1.45em;
}*/

.section-heading__whatwedo p {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 3rem 1rem!important;
}

.section-heading__whatwebelieve h3 {
      margin-top: 2rem;
    font-size: 1.55em;
     font-weight: 500; 
    padding-left: 60px;
    letter-spacing: 8px;
}

.section-heading__whatwebelieve h1 {
    font-size: 4.5em;
    padding-left: 60px;
}

.section-heading__whatwebelieve p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #414042;
  margin: 0 1rem!important;
}

.main__whoweare .container {
    padding-left: 60px;
}

.section-heading__whoweare h3 {
    font-size: 1.55em;
    letter-spacing: 8px;
}

.section-heading__whoweare h1 {
    font-size: 4.5em;
    font-family: "Roboto", sans-serif;
}

.main-slider__slide h3 {
    font-size: 1.75em;
    margin: 85px 0px 0 60px;
}

.main-slider__slide h1 {
    margin: 80px 60px 0 60px;
    font-size: 3.5em;
}

.main__whatwebelieve .container {
     padding-left: 0px; 
}

.section-heading__ourwork h3 {
  margin-top: 2rem;
  color: #881C67;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__ourwork h1 {
  font-size: 4.5em;
  letter-spacing: 4px;
  padding-left: 60px;
}

.ourwork__padding {
    padding-left: 60px;
    padding-bottom: 35px;
}

#box1_1{
  height: 350px;
}
#box1_2{
 height: 350px;
}
#box1_3{
  height: 350px;
}
#box1_4{
  height: 350px;
}
#box1_5{
  height: 350px;
}
#box1_6{
  height: 350px;
}
#box1_7{
  height: 350px;
}
#box1_8{
  height: 350px;
}

.main__ourwork .container {
    padding-left: 0;
}

.section-heading__ourwork h2 {
  font-size: 2rem;
  color: #666666;
  margin: 3rem 0!important;
}

.section-heading__ourservice h1 {
  font-size: 4.5em;
  padding-left: 60px;
  letter-spacing: 4px;
}

.section-heading__ourservice h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__ourservice p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 1rem !important;
}

.section-heading__howwework h1 {
  font-size: 4.5em;
    padding-left: 60px;
}

.section-heading__howwework h3 {
  margin-top: 6rem;
  font-size: 1.55em;
    font-weight: 500;
    padding-left: 60px;
    letter-spacing: 8px;
}

.section-heading__howwework p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 1rem !important;
}

.section-heading__ourcapabilities h1 {
  font-size: 2rem;
  color: #666666;
}

.section-heading__ourcapabilities h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 28px;
  font-weight: 500;
}

.section-heading__ourcapabilities p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 1rem!important;
}

.section-heading__getintouch {
  margin:8rem 0 0;
}

.section-heading__getintouch h1 {
    font-size: 3.5em;
    padding-left: 100px;
    padding-right: 0;
}
.section-heading__getintouch h3 {
    font-size: 1.45em;
    padding-left: 100px;
}

.section-heading__ourteam h1 {
  font-size: 2rem;
  margin: 0;
}

.section-heading__ourteam h3 {
  font-size: 28px;
}

.section-heading__ourteam p {
  font-size: 1.4rem;
  margin: 1rem;
}

.section-heading__workwithus h3 {
    padding: 50px 0 20px 100px;
}

.workwithus__form {
    width: 81%;
}

.section-heading__globalimpact h3 {
    font-size: 1.55em;
    padding-left: 60px;
    letter-spacing: 8px;
}

.section-heading__globalimpact h1 {
    font-size: 4.5em;
    padding-left: 60px;
}

.section-heading__brandweworkwith h3 {
    font-size: 1.55em;
    padding-left: 60px;
    letter-spacing: 4px;
}

.section-heading__brandweworkwith img {
    width: 90%;
}

.largebox__container {
  display: none;
}


}

  @media only screen and (max-width: 600px) {

  .main-slider__slide h3 {
    font-size: 1.35em;
    margin: 40px 0px 0 25px;
}

.main-slider__slide h1 {
    margin: 70px 25px 0 25px;
    font-size: 2em;
}

.section-heading__whatwedo h1 {
  font-size: 2rem;
  padding-left: 0;
  margin:0 !important;
}


.section-heading__whatwedo h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0;
}

.section-heading__whatwedo p {
  font-size: 1rem;
  font-weight: normal;
  margin: 3rem 1rem!important;
}

.section-heading__whoweare h3 {
    font-size: 1.35em;
    letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-heading__whoweare h1 {
    font-size: 2em;
}

.section-heading__whatwebelieve h1 {
    font-size: 2.5em;
    padding-left: 25px;
}

.section-heading__whatwebelieve h3 {
  margin-top: 6rem;
  font-size: 1.35em;
  font-weight: 500;
  padding-left: 25px;
  letter-spacing: 4px;
}

.section-heading__whatwebelieve p {
  font-size: 1rem;
  font-weight: 500;
  color: #414042;
  margin: 0 1rem!important;
}

.section-heading__ourwork h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 1.2rem;
  font-weight: 500;
}

.main__ourwork .container {
    padding-left: 0;
}

.section-heading__ourwork h1 {
  font-size: 2rem;
  letter-spacing: 4px;
  padding-left: 25px;
}

.section-heading__ourwork h2 {
  font-size: 1.4rem;
  color: #666666;
  margin: 3rem 0!important;
}

.section-heading__ourservice h1 {
    font-size: 2rem;
    padding-left: 0;
    margin: 0 !important;
    letter-spacing: 4px;
}

.section-heading__ourservice h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 1.2rem;
  font-weight: 500;
}

.section-heading__ourservice p {
  font-size: 1rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 1rem !important;
}

.section-heading__howwework h1 {
  font-size: 2.25em;
  padding-left: 25px;
  padding-right: 10px;
}

.section-heading__howwework h3 {
  margin-top: 3rem;
  font-size: 1.35em;
  padding-left: 25px;
  letter-spacing: 4px;
}

.section-heading__howwework p {
  font-size: 1rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 1rem !important;
}

.section-heading__ourcapabilities h1 {
  font-size: 1.4rem;
  color: #666666;
}

.section-heading__ourcapabilities h3 {
  margin-top: 6rem;
  color: #881C67;
  font-size: 1.2rem;
  font-weight: 500;
}

.section-heading__ourcapabilities p {
  font-size: 1rem;
  font-weight: 500;
  color: #414042;
  margin: 3rem 1rem!important;
}

.section-heading__getintouch h1 {
    font-size: 2rem;
    padding-left: 25px;
}
.section-heading__getintouch p {
    font-size: 1rem;
    margin: 1rem;
}
.getintouch-button {
    width: 168px;
    height: 58px;
}
.getintouch-button a {
    font-size: 1rem;
}
.getintouch-button a span {
    font-size: 0.7rem;
}
.section-heading__getintouch h3 {
    font-size: 1.2rem;
    padding-left: 25px;
    padding-right: 50px;
    letter-spacing: 0;

}
.section-heading__workwithus h3 {
    font-size: 1.2rem;
    padding-left: 25px;
}
.workwithus__topform, .workwithus__middleform {
    min-height: 122px;
     margin: 0; 
}

.workwithus__bottomform {
     text-align: center; 
     padding-left: 0; 
}

.workwithus__form {
    width: 77%;
}

.section-heading__fightwithus h3 {
  font-size: 1.2rem;
}

.section-heading__fightwithus p {
  font-size: 1rem;
}

.section-heading__fightwithus h2 {
    font-size: 1rem;
}

.fightwithus__toplist span {
    font-size: 12px;
}

.section-heading__ourteam h1 {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.section-heading__ourteam h3 {
  font-size: 1.2rem;
}

.section-heading__ourteam p {
  font-size: 1rem;
  margin: 1rem;
}



.section-heading__globalimpact h1 {
    font-size: 2rem;
    padding-left: 25px;
}

.section-heading__globalimpact h3 {
   
    margin-top: 2rem;
    letter-spacing: 4px;
    font-size: 1.35em;
    font-weight: 500;
    padding-left: 25px;
}

.section-heading__brandweworkwith h3 {
    font-size: 1em;
    letter-spacing: 4px;
    padding-top: 20px;
    padding-left: 25px;
}

.box__container {
  display: block;
}

.ourwork__padding {
    padding-left: 25px;
    padding-bottom: 25px;
}

#box1_1{
  height: 305px;
}
#box1_2{
  height: 305px;
}
#box1_3{
  height: 305px;
}
#box1_4{
   height: 305px;
}
#box1_5{
   height: 305px;
}
#box1_6{
   height: 305px;
}
#box1_7{
   height: 305px;
}
#box1_8{
   height: 305px;
}



}

  /** END */

@media only screen and (max-width: 600px) {

  #main-whatwedo__background {
  background-image: url(../assets/ai/Homepagesmall.jpg);
}

  .footer .footer-content .footer__logo img {
    width: 90px;
    height:35px;
}
  .navbar__logo {
    width: 90px;
    height: 35px;
  }
  .navbar__ul li a {
    padding:0;
  }
  .navbar__ul.responsive li a {
    float: none;
    display: block;
    font-size: 20px;
    text-align: center;
    padding:0;
  }
  .main-slider__slidershow {
    height: 356px;
}
  
  .arrow {
    display: none;
  }

  .main__whatwedo button {
    margin-top: 2rem;
}

.main__whoweare .container {
    padding-left: 15px;
}

.main__whatwedo button {
    font-size: 14px;
}

.main__ourservice .container{
  padding-left: 25px;
}

.section-heading__ourservice {
    margin-bottom: 4rem;
}

  .fightwithus__container{
    width: 70%;
  }

  .fightwithus-button {
    margin: 0px;
    margin-bottom: 10%;
}

.main__whatwebelieve .container {
     padding-left: 0; 
}

.section-heading__brandweworkwith img {
    margin: 2rem 0;
    width: 90%;
    height: 50%;
}

  .section-heading__whatwebelieve img {
      width: 70%;
      margin: 3rem 1rem 0 0;
    }

  .section-heading__howwework .main-howwework__img1 {
    width: 90% !important;
  }

  .section-heading__howwework .main-howwework__img2 {
    margin: 3rem 0;
    width: 90% !important;
  }

  .section-heading__ourcapabilities img {
    width: 90% !important;
  }
  
  .main-ourwork__img2 {
    width: 90%;
  }

  .section-heading__ourteam img {
  width: 100%;
}

#main-whatwedo__background { 
  height: 680px;
}

.main__whatwedo {
  padding: 1px;
}

.main__whatwedo .container {
  padding-left: 25px;
}

.section-heading__getintouch {
  margin:6rem 0 0;
}

.largebox__container {
  display: none;
}

.globalimpact__imglarge {
  display: none;
}
.globalimpact__imgsmall {
  display: block;
  padding-bottom: 5rem;
  width: 100%;
}

}


  @media only screen and (max-width: 934px) {
    .footer {
      height: auto;
    }

    .footer .footer-content {
      height: auto;
      flex-direction: column;
    }

    .footer .footer-content .footer__logo img {
     margin: 0px;
     padding-left: 0px; 
    }
    .footer .footer-content .footer__contact {
      padding-bottom: 90px;
    }

    .footer__line {
      display: none;
    }

    .section-heading__howwework .main-howwework__img1 {
      margin: 3rem 0;
      width: 80%;
    }
  }

  @media only screen and (max-width: 917px) {
    .section-heading__workwithus p {
    font-size: 1rem;
    margin: 0rem 0rem;
    }

    input[value="Sent your message!"] {
    color: #fff;
    font-size: 13px;
    }
    .workwithus-button {
      width: 160px;
      height: 45px;
      font-weight: bold;
    }
    .workwithus__topform .workwithus__innerform {
     width: 100%; 
     float: none; 
     margin-right: 0; 
    }

    .fightwithus__toplist .fightwithus__innerlist {
     width: 100%; 
     float: none; 
     margin-right: 0; 
}

.section-heading__fightwithus p {
    font-size: 1rem;
    margin: 2rem 0rem;
}

.fightwithus__toplist {
    margin: 10px 0;
}

.fightwithus__innerlist button {
    margin: 0;
    margin-bottom: 20px;
    background: #751C5B;
    border-radius: 7px;
    border-style: none;
    padding: 10px;
}
  }
