@media screen and (max-width: 1048px) {
  .navbar__logo {
  padding: 20px 30px ;
}
  .navbar__ul li a {display: none;}
  .navbar__ul a.main-navbar__icon {
    float: right;
    display: block;
    font-size: 28px !important;
  }
}

@media screen and (max-width: 1048px) {
  .navbar__ul.responsive {position: relative;}
  .navbar__ul.responsive .main-navbar__icon {
    position: block;
    right: 0;
    top: 0;

  }
  .navbar__ul {
    left: 100%;
    margin-right: 10%;
    z-index: 1000;
  }
  .navbar__ul.responsive {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 55px;
    text-align: center;
    transition: .5s;
    left: 0;
    padding-left: 0px;
    z-index: 1500;
  }
  .navbar__ul.responsive li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navbar__ul.responsive li a {
    float: none;
    display: block;
    font-size: 20px;
    text-align: center;
    padding:0;
  }
}

@media screen and (max-width: 600px) {
  .navbar__logo {
    width: 100px;
    height: 30px;
  }
  .navbar__ul li a {
    padding:0;
  }
  .navbar__ul.responsive li a {
    float: none;
    display: block;
    font-size: 20px;
    text-align: center;
    padding:0;
  }
  .main-slider__slidershow {
    height: 400px;
}
  .main-slider__navigation {
    left: 35%;
    top: 45%;
  }
  .arrow {
    display: none;
  }
}